/* src/components/Contact.css */
.contact-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto; /* Center horizontally */
    max-width: 800px; /* Limit the maximum width */
    height: 700px; /* Adjust the height as needed */
  }
  
  .contact-form-container {
    flex: 1;
    margin-right: 20px;
  }
  
  .contact-details-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center items vertically and horizontally */
  }
  
  .contact-container h2 {
    color: #2F3C7E;
    text-align: center;
    margin-top: 120px;
  }
  
  .contact-form {
    background-color: #FBEAEB;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #2F3C7E;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .contact-form input[type="submit"] {
    background-color: #2F3C7E;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .contact-form input[type="submit"]:hover {
    background-color: #FBEAEB;
    color: #2F3C7E;
    border: 1px solid #2F3C7E;
  }
  
  .contact-details-container h2 {
    color: #2F3C7E;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contact-details-container p {
    color: #2F3C7E;
    margin-bottom: 10px;
    font-size: 18px; /* Adjust font size */
  }
  
  .social-media-links {
    display: flex;
    justify-content: center;
  }
  
  .social-media-links a {
    color: #2F3C7E;
    margin: 0 5px;
    text-decoration: none;
    font-size: 24px; /* Adjust font size */
  }
  
  .social-media-links a:hover {
    text-decoration: underline;
  }
  
  .notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #2F3C7E;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .progress-bar {
    width: 100%;
    height: 5px;
    background-color: #FBEAEB;
    margin-top: 5px;
    border-radius: 5px;
    animation: shrink 3s linear forwards;
  }
  
  @keyframes shrink {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
  }
  